body {
    background: linear-gradient(to right, #b1c7e7 0%, #0099ff 100%);
    font-family: arial;
    margin: 0;
	padding: 0;
	box-sizing: border-box;
    text-align: Center;
}

#texto {
    border: 2px solid;
    width: 800px;
    height: 200px;
    background-color: white;
    font-size: arial;
    text-align: center;
}

#offset {
    background-color: white;
    font-size: arial;
    text-align: center;
    padding-bottom: 20px 0;
}

.btn-1{
    border: 1px solid;
    background-color: rgb(225, 224, 233);
    color: black;
}

.btn-1:hover{
    background-color: rgb(225, 224, 233);
    color: blue;
}

.btn-2{
    border: 1px solid;
    background-color: rgb(225, 224, 233);
    color: black;
}

.btn-2:hover{
    background-color: rgb(225, 224, 233);
    color: blue;
}

footer {
	color: rgb(243, 235, 235);
	text-align: center;
	margin: auto;
}